{% extends 'dashboard/base.html' %}

{% block content %}

<div class="viewer-layout">

    <div class="viewer-main">

        <img
            id="dicomPreview"
            src="{% url 'preview_exame' exame.id %}"
        >

    </div>

    <div class="viewer-sidebar">

        <h2>Informações</h2>

        <hr>

        <p>
            <strong>Paciente:</strong><br>
            {{ exame.paciente.nome }}
        </p>

        <p>
            <strong>Exame:</strong><br>
            {{ exame.tipo_exame }}
        </p>

        <p>
            <strong>Status:</strong><br>
            {{ exame.get_status_display }}
        </p>

        <hr>

        <button onclick="zoomIn()" class="btn-sidebar">

            Zoom +

        </button>

        <button onclick="zoomOut()" class="btn-sidebar">

            Zoom -

        </button>

        <a
            href="{% url 'detalhe_exame' exame.id %}"
            class="btn-sidebar"
        >

            Abrir Laudo

        </a>

    </div>

</div>

<script>

let zoom = 1;

function zoomIn() {

    zoom += 0.2;

    document.getElementById(
        "dicomPreview"
    ).style.transform =
        `scale(${zoom})`;

}

function zoomOut() {

    zoom -= 0.2;

    if (zoom < 0.2) {

        zoom = 0.2;

    }

    document.getElementById(
        "dicomPreview"
    ).style.transform =
        `scale(${zoom})`;

}

</script>

<style>

.viewer-layout{

    display:flex;

    gap:20px;
}

.viewer-main{

    flex:4;

    overflow:auto;

    background:black;

    border-radius:14px;

    border:1px solid #333;

    padding:20px;

    text-align:center;
}

#dicomPreview{

    max-width:100%;

    transition:0.2s;
}

.viewer-sidebar{

    flex:1;

    background:#1d1d1d;

    border:1px solid #333;

    border-radius:14px;

    padding:20px;
}

.btn-sidebar{

    display:block;

    width:100%;

    margin-top:10px;

    padding:12px;

    background:#4f8cff;

    color:white;

    border:none;

    border-radius:8px;

    text-decoration:none;

    text-align:center;

    cursor:pointer;
}

</style>

{% endblock %}